body {
    background-color: #ffe4e1; /* 粉色背景 */
    font-family: 'Montserrat', sans-serif; /* 設置字體為 Montserrat */
}

.navbar-brand, .nav-link {
    color: #ff69b4 !important; /* 粉色字體 */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2888, 24, 69, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.text-pink {
    color: #ff69b4; /* 粉色字體 */
}

.btn-pink {
    background-color: #ff69b4;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif; /* 設置按鈕字體 */
}

.btn-pink:hover {
    background-color: #ff1493;
    color: white;
}

.list-group-item {
    background-color: #ffe4e1;
    border: none; 
    font-family: 'Montserrat', sans-serif; /* 設置列表字體 */
}

.list-group-item:hover {
    background-color: #ffb6c1;
}
